{#
/**
 * @file
 * Default theme implementation for a summary of an webform options limit handler.
 *
 * Available variables:
 * - settings: The current configuration for this handler:
 *   - element_key: The options element.
 * - handler: The handler information, including:
 *   - id: The handler plugin id.
 *   - handler_id: The handler id.
 *   - label: The handler label.
 *   - description: The handler description.
 *
 * @ingroup themeable
 */
#}

{% if settings.debug %}<strong class="color-error">{{ 'Debugging is enabled'|t }}</strong><br />{% endif %}
<b>{{ 'To:'|t }}</b> {{ settings.to_mail|replace({',': ', '}) }}<br />
{% if settings.cc_mail %}<b>{{ 'CC:'|t }}</b> {{ settings.cc_mail|replace({',': ', '}) }}<br />{% endif %}
{% if settings.bcc_mail %}<b>{{ 'BCC:'|t }}</b> {{ settings.bcc_mail|replace({',': ', '}) }}<br />{% endif %}
<b>{{ 'From:'|t }}</b> {% if settings.from_name %}{{ settings.from_name }}{% endif %} &lt;{{ settings.from_mail }}&gt;<br />
{% if settings.reply_to %}<b>{{ 'Reply to:'|t }}</b> {{ settings.reply_to }}<br />{% endif %}
<b>{{ 'Subject:'|t }}</b> {{ settings.subject }}<br />
<b>{{ 'Settings:'|t }}</b> {{ settings.html ? 'HTML' : 'Plain text'|t }} {{ settings.html and settings.attachments ? '/' : '' }} {{ settings.attachments ? 'Attachments'|t : '' }} {{ settings.twig ? '(Twig)'|t : '' }}<br />
{% if settings.theme_name %}<b>{{ 'Theme:'|t }}</b> {{ settings.theme_name }}<br />{% endif %}
{% if settings.confirmation_url_timeout %}<b>{{ 'Expires after:'|t }}</b> {{ settings.confirmation_url_timeout }}<br />{% endif %}
{% if settings.redirect_path %}<b>{{ 'Redirect to:'|t }}</b> {{ settings.redirect_path }}<br />{% endif %}
